body{
    font-size: 14px;
    line-height: 1;
}

textarea{
    background: transparent;
    border: none;
    resize: none;
    border-left: 1px solid black;
    padding: 8px;
    color: #000;
}

.jumbotron{
    text-align: center;
    border-radius: 0;
    padding-bottom: 0%;
    background-color: transparent;
    color: #000;
}

.time-block{
    text-align: center;
}

.row{
    white-space: pre-wrap;
    height: 80px;
    border-top: 2px solid grey;
}

.saveBtn{
    border-left: .5px;
    border-top-left-radius: 10px;
    background-color: rgb(245, 114, 114);
    color: black;
    outline: none;
    border-bottom-right-radius: 10px;
}

.hour{
    color: black;
    font-size: large;
    font-weight: bold;
}

.deleteBtn{
    font-size: xx-large;
    color: black;
    margin: 10px 10px;
    padding: 3px 5px;
    
}

.past{
    background-color: rgb(255, 207, 207);

}
.pres{
    background-color: rgb(251, 120, 120);

}
.future{
    background-color: rgb(73, 187, 73);
}